<p id="notice"><%= notice %></p>

<h1>那些年，您独自追的片片。。。</h1>
<ul>
	<li>共有：<%= @tracking_list.quantity%> 部片</li>
	<% for item in @tracking_list.tracking_items %>
	<li><%= item.movie.title %></li> 
	<li>上次观看的剧集： <% if item.last_watched_episode_id %>
		<% episode = Episode.find(item.last_watched_episode_id) %>
		<%= link_to episode.episode_title, watch_show_episode_path(:episode_id => episode.id)%>
		<% else %>
		还没看过一集哦，加油啊。。。
		<% end %>
	</li>
	<hr/>
	<% end %>
</ul>


<%= link_to 'Edit', edit_tracking_list_path(@tracking_list) %> |
<%= link_to 'Back', tracking_lists_path %>
