<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field edit_titlech">
    影片名称：<%= f.text_field :title %>
  </div>
  <div class="field edit_descch">
    详细描述：<%= f.text_area :desc %>
  </div>
  <div class="field " id="edit_imgch">  	
    精彩截图：<%= f.text_field :image %>
    <p><%= image_tag @movie.image unless @movie.image.nil? || @movie.image.empty? %></p>
  </div>
  <div class="field " id="edit_finch">
   是否完结：<%= f.check_box :is_finished %>
  </div>
  <%if !@movie.id.nil? %>
	  <div class="field">剧集：<br/>
	    <% if @movie.episodes.size > 0 %>
	      <% @movie.episodes.each do |an_episode| %>
	        <span class="episodes"><%= link_to an_episode.title, 
	          movie_episode_path(@movie, an_episode) %>
	        </span>
	      <% end %>
	    <% else %>
	      <span class="no_episode_available">暂无</span>
	    <% end %>
	  </div>
  
	  <div class="field ">添加新剧集：<br/>
	    <%= link_to "添加", new_movie_episode_path(@movie) %>
	  </div>
  <%end %>
  <div class="actions field" id="update_btn">
    <%= f.submit %>
  </div>
<% end %>
