<div>
<% @movies.each do |movie| %>
  <div class="movierow">
  <p><img src="<%= movie.image_url %>" /></p>
  <ul>
    <li class="movie_title"><%= link_to movie.title, movie %></li>
    <li class="movie_desc"><%= truncate(strip_tags(movie.description),:length => 80) %></li>
    <li class="movie_last"><%= movie.last_updated %></li>
    <li class="movie_fini"><%= movie.is_finished ? "已完结" : "连载中"%></li>
    <li class="movie_edit"><%= link_to '编辑/插入新集', edit_movie_path(movie) %></li>
    <li class="movie_del"><%= link_to '删除', movie, confirm: '删除本片，包括所有集?', method: :delete %></li>
  </ul>
  </div>
<% end %>
</div>

<br />

<%= link_to 'New Movie', new_movie_path %>
