<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @movie.title %>
</p>

<p>
  <b>Description:</b>
  <%= @movie.description %>
</p>

<p>
  <b>Image url:</b>
  <%= image_tag(@movie.image_url) %>
</p>

<p>
  <b>Last updated:</b>
  <%= @movie.last_updated %>
</p>

<p>
  <b>Is finished:</b>
  <%= @movie.is_finished %>
</p>

<div class="episode_list">
	<h4>可观看剧集</h4>
	<span class="episodes">
		<% if @movie.episode.size > 0 %>
			<% @movie.episode.each do |an_episode| %>
				<%= link_to an_episode.episode_title, 
					watch_show_episode_path(:episode_id => an_episode.id) %>
			<% end %>
		<% else %>
			<span class="no_episode_available">暂无</span>
		<% end %>
	</span>
</div>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
