<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @movie.title %>
</p>

<p>
  <b>Desc:</b>
  <%= @movie.desc %>
</p>

<p>
  <%= image_tag @movie.image %>
</p>

<p>  
  <% if @movie.is_finished %>
    已完结
  <% else %>
    未完结
  <% end %>
</p>

<p>剧集：</p>
<% if @movie.episodes.size > 0 %>
  <% @movie.episodes.each do |an_episode| %>
    <span class="episodes"><%= link_to an_episode.title, 
      movie_episode_path(@movie, an_episode) %>
    </span>
  <% end %>
<% else %>
  <span class="no_episode_available">暂无</span>
<% end %>
<br/>

<% if current_user.privilege_level > 0 %>
<%= link_to '编辑影片', edit_movie_path(@movie) %> 
<% end %>
<!-- <%= link_to 'Back', movies_path %> -->
