<%= form_for(@tracking_item) do |f| %>
  <% if @tracking_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tracking_item.errors.count, "error") %> prohibited this tracking_item from being saved:</h2>

      <ul>
      <% @tracking_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :movie_id %><br />
    <%= f.number_field :movie_id %>
  </div>
  <div class="field">
    <%= f.label :tracking_list_id %><br />
    <%= f.number_field :tracking_list_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
