<h1>Listing tracking_items</h1>

<table>
  <tr>
    <th>Movie</th>
    <th>Tracking list</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tracking_items.each do |tracking_item| %>
  <tr>
    <td><%= tracking_item.movie_id %></td>
    <td><%= tracking_item.tracking_list_id %></td>
    <td><%= link_to 'Show', tracking_item %></td>
    <td><%= link_to 'Edit', edit_tracking_item_path(tracking_item) %></td>
    <td><%= link_to 'Destroy', tracking_item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tracking item', new_tracking_item_path %>
