<p id="notice"><%= notice %></p>

<p>
  <b>Movie:</b>
  <%= @tracking_item.movie_id %>
</p>

<p>
  <b>Tracking list:</b>
  <%= @tracking_item.tracking_list_id %>
</p>


<%= link_to 'Edit', edit_tracking_item_path(@tracking_item) %> |
<%= link_to 'Back', tracking_items_path %>
