<!DOCTYPE html>
<html>
<head>
  <title>BetaMovies</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "default" %>
  <%= javascript_include_tag "jquery", "mediaelement-and-player", "get_query_parameters", "QL_Player", "lecture_view" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="bodycontainer">
  <div id="topbg">
  <div id="top">
  	<a href="/"><%= image_tag("logo.png", :class=>"logo_image") %></a>
  </div>  	
  </div>
  
  <div id="mainframe">
  <div id="side">
  	<div id="tracking_list_float">
  		<%= render @tracking_list %>
  	</div>
  </div>
  <%= yield %>
  </div>

</div>
</body>
</html>
