<!DOCTYPE html>
<html>
<head>
  <title>BetaMovies</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="bodycontainer">
  <div id="topbg">
  <div id="top">
  	<%= image_tag("logo.png", :class=>"logo_image") %>
  </div>  	
  </div>
  <div id="side">
  	<%if @tracking_list%>
  		<div id="tracking_list_float">
  		
  			<%= render @tracking_list %>
  		
  		</div>
  	<%end%>
  </div>
  
  <div id="mainframe">
  <%= yield %>
  </div>

</div>
</body>
</html>
