<!DOCTYPE html>
<html>
<head>
  <title>BetaMovies</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="bodycontainer">
  <div id="topbg">
  <div id="top">
  	<%= image_tag("logo.png", :class=>"logo_image") %>
  	<p><%= link_to "登录", login_url %></p>
  </div>  	
  </div>
  <div id="side">
  	<%if @tracking_list%>
  		<div id="tracking_list_float">
  		
  			<%= render @tracking_list %>
  		
  		</div>
  	<%end%>
  	<% if session[:user_id] %> 
  		<br />
  		| 
  		<%= link_to "账户管理", users_path %> | 
  		<%= link_to "返回主页", watch_path %> 
  		<br />
  		<%= button_to "登出", logout_path, :method => :delete %>
  	<% end %>
  </div>
  
  <div id="mainframe">
  <%= yield %>
  </div>

</div>
</body>
</html>
