<!DOCTYPE html>
<html>
<head>
  <title>BetaMovies Ver 0.1.6</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="topbg">
  <div id="top">
    <%= link_to image_tag("logo.png", :class=>"logo_image"), movies_path %>
    <% if !current_user.nil? %>
      <p><span><%= link_to "注销", destroy_user_session_path, 
              :method=> :delete %></span>
      <span><%= current_user.email %></span></p>
    <% else %>
      <p><span><%= link_to "注册", new_user_registration_path %>
              <%= link_to "登录", new_user_session_path %></span></p>
    <% end %>
  </div>    
  </div>
  <div id="midbg">
  <div id="midcontainer">
     <p class="notice <%= "hidenotify" if notice.nil? %>"><%= notice %></p>
     <p class="alert <%= "hidenotify" if alert.nil? %>"><%= alert %></p>
     <%= yield %>
  </div>

  <div class="footer">
    <div class="footer_container clearfix">
      <p>BetaMovies 我们的玩具箱</p>
      Authors: YX LG ZJ
    </div>
  </div>
</body>
</html>
